<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>SEnd email</h1>
    <hr>
    <div class="text-align:center:">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="title of email" required>
            <br>
            <br>
            <input type="email" name="email" placeholder="title of email adress" required>
            <br>
            <br>
            <textarea name="message" placeholder="title of message" required></textarea>
            <br>
            <br>
            <button class="btn btn-primary mt-2" type="submit">Send</button>
            <br>
            <br>
        </form>
    </div>

</header>
</body>
</html>